[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
default-time-zone='+09:00'

symbolic-links=0


[mysqld_safe]
log-error       = /var/log/mysql/error.log
pid-file        = /var/run/mysqld/mysqld.pid